<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Awale{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('css') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <main>
        {% block body %}{% endblock %}
        </main>
        <div class="page-footer">
            <a href="www.francoismarchand.fr">François Marchand</a>
        </div>
    </body>
</html>
