{% extends 'base.html.twig' %}

{% block body %}

<section class="partie-section-joueur">
</section>

<div id="js-awale" data-uuid="{{ game.uuid }}" data-url="{{ url }}" data-player="{{ player.id }}">
</div>
{% endblock %}
