{% extends 'base.html.twig' %}

{% block body %}
<h1>Awale</h1>

<div class="plateau">
    <div class="range">
        <a class="case js-class-case1"></a>
        <a class="case js-class-case1"></a>
        <a class="case js-class-case1"></a>
        <a class="case js-class-case1"></a>
        <a class="case js-class-case1"></a>
        <a class="case js-class-case1"></a>
    </div>
    <div class="range">
        <a class="case js-class-case1"></a>
        <a class="case js-class-case1"></a>
        <a class="case js-class-case1"></a>
        <a class="case js-class-case1"></a>
        <a class="case js-class-case1"></a>
        <a class="case js-class-case1"></a>
    </div>
</div>

{% endblock %}
