<div class="board">
    <div class="range">
        <a class="case"></a>
        <a class="case"></a>
        <a class="case"></a>
        <a class="case"></a>
        <a class="case"></a>
        <a class="case"></a>
    </div>
    <div class="range">
        <a class="case"></a>
        <a class="case"></a>
        <a class="case"></a>
        <a class="case"></a>
        <a class="case"></a>
        <a class="case"></a>
    </div>
</div>
